/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  background: #8E0E00;  /* fallback for old browsers */

background:  #D7FFF1;

}

.stopwatch {
    text-align: center;
  background-color:#519D9E;
  padding:60px;
  border-radius:290px;
  
  

}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
  border-radius:10px;
  background:#9DC8C8;
  
  
}
